img {
    width: 440px;
    height: 250px;
    
    }
    h1 {
        text-align: center;
       }
       p {
           font-size: 25px;
           color: red;
       }
    im {
       
            
            margin-left: auto;
            margin-right: auto;
            
          
       }
       span{
           color: black;
       }
    